/* pt_calculate.css */
/* main-cal-top */
.main__cal-top { display: flex;  background: var(--default-white); border-radius: 10px; margin: 3em 0;}
.box-text-cal {color: #3F4C7D; font-family: Pretendard; font-size: 36px; font-style: normal; font-weight: 700; line-height: normal; letter-spacing: -0.36px;}
/* main-bottom */
.dash-bottom__box { width: 100%; height: auto; margin-top: 10px; border-radius: 10px;}
.box__gridCon-calculate{ display: grid; grid-template-columns: repeat(2, 1fr); grid-gap: 2.5em;}
.grid-top__textbox{ width: 545px; height: 178px; margin: 5em 2.5em 2.5em 6em; border-radius: 10px; border: 1px dashed #E75A5A;}
/* table-style */
.grid__tablehead { padding: 20px; height: 70px; border-radius: 10px; background-color: var(--main-tablehd);}
.tablehead-text { color: var(--font-bk); font-family: Pretendard; font-size: 24px; font-style: normal; font-weight: 700; line-height: normal;}
.grid__cal-table {width: 100%; height: auto; font-family: Pretendard; font-size: 20px; font-style: normal; font-weight: 500; line-height: normal; background: none; }
.grid__cal-table td{cursor: pointer;}
.table__chip{width: 84.895px; height: 28.219px; padding-top: .2em; }


/* pt_calculate_list.css*/ 
/* gridCon__info-left */
.calList__gridCon{ display: grid; grid-template-columns: repeat(2, 1fr); gap:2em; padding: 3em 2em;}
.calList__search-cal { display: flex; flex-direction: row; justify-content: space-between;}
.search-cal__inputWrap{position: relative;} 
.calList__date-group{display: flex; justify-content:space-evenly; margin: 2em 0 4em 0;}
.calList__btn-group{display: flex; justify-content:center; align-items: center; gap: 3em;}
.calList-btn{width: 158px; height: 51px; border-radius: 50px; padding: .5em;
             color: #FFF; text-align: center; font-family: Pretendard; font-size: 24px; font-style: normal; font-weight: 700; line-height: 16px; letter-spacing: -1px;}
/* gridCon__info-right */
.info-right__cal-top{display: flex; background: var(--default-white); border-radius: 10px;}
.cal-top__box { width: 33.3%; height: 240px; padding: 1em; display: flex; flex-direction: column; justify-content: space-evenly; align-items: center;}
.box-text-calList {color: #3F4C7D; font-family: Pretendard; font-size: 30px; font-style: normal; font-weight: 700; line-height: normal; letter-spacing: -0.3px;}
.amount__card-calList{ width: 210px; height: 73px; padding-top: 1em; border-radius: 10px; border: 3px dashed #BEAFA2; text-align: right;}
.card-text-calList{ color: var(--font-bk); font-family: Pretendard; font-size: 32px; font-style: normal; font-weight: 500; line-height: normal; letter-spacing: -0.32px;}
/* grid__calList-table */
.grid__calList-table{width: 100%;}
.table__chip-calList{width: 110px; height: 37px; display: flex; justify-content: center; align-items: center;}
.calList-td-position{display: flex; justify-content: center; align-items: center;} 
/* search-bar style */
.searchbar-style01{width: 735px; height: 62px; padding: 1em 1em 1em 2.5em; border-radius: 28px; background:var(--default-white); box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.19); 
      color: #333; font-family: Pretendard; font-size: 20px; font-style: normal; font-weight: 500; line-height: normal;}
.serchbar-icon{position: absolute; top: 22px; left: 22px; font-size: 1.2em; color:#333;}
/* text style */
.calList-td-text{color: #333;}
.date-label-text{ color: #333; font-family: Pretendard; font-size: 32px; font-style: normal; font-weight: 500; line-height: normal;}

